<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ja' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="R2am7dksqpjf18l5zDP0oCsN5UhvyuhnKPjDmi_Vp7o" />
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {%- feed_meta -%}
</head>
<body>
  <header class="site-header">
    <div class="wrap header-inner">
      <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}">ホーム</a>
        <a href="{{ '/about/' | relative_url }}">このブログについて</a>
      </nav>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="wrap">
      <p>© {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </footer>
</body>
</html>
